<section class="center-vertical">
	<h1>コメントの更新</h1>
	<form action="/edit/<%= @post["id"] %>" method="post">
        <input type="text" name="comment" value="<%= @post["comment"] %>">
        <input type="submit" value="更新">
	</form>
</section>